.card-paciente {
    /* background-color: lightcoral; */
    width: 240px;
    height: 260px;
    display: flex;
    flex-direction: column;
    padding: 30px 0;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.nome_paciente, .tel_paciente, .plano_paciente, .sem_plano {
    font-size: 18px;
    font-weight: 500;
}

.plano_paciente {
    color: rgb(42, 5, 137);
}

.sem_plano {
    color: rgb(249, 168, 26);
}

.idade_paciente, .ver_mais {
    font-size: 14px;
    font-weight: 400;
}

img {
    width: 80px;
    display: block;
    margin: 0 auto;
}